*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


@font-face {
    font-family: "Roboto";
    src:
        url("/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src:
        url("/Roboto-Bold.ttf");
}


#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

/* Header */
.header {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 3rem;
    font-size: 1.6rem;
}

.header button {
    font-family: "Roboto";
    text-decoration: none;
    border: none;
    color: black;
    padding: 10px;
    background-color: white;
}

.header button:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

.logo {
    flex: 1;
    padding: 3rem 0 0 0;
    background: url(/TRUSTRANK.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.main {
    height: 100%;
    width: 100%;
}

/* Home */
.home {
    padding-top: 10rem;
    display: flex;
    height: 100%;
}

.right-home {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 80%;
    width: 60%;
    background-image: url(/shipping.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.left-home {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}

.left-home h2{
    text-transform: uppercase;
    font-size: 3.3rem;
    font-family: "Roboto Bold";
}

.left-home p {
    font-family: "Roboto";
    color: #504f4fdd;
    width: 35ch;
    line-height: 2rem;
    font-size: 1.5rem;
    
}



.nav-bar {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.nav-bar button {
    text-transform: uppercase;
    font-size: 1.4rem;
}


/* Catalog */
.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 250px;
    gap: 2rem;
    padding: 5rem;
}

.category {
    text-align: center;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "Roboto";
}
/* 
.fa-github {
    font-size: 2rem;
}

.fa-github:hover {
    color: var(--font-color-dark);
}
   */