*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: "Roboto";
    src:
      url("/Roboto-Regular.ttf");
  }


#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

/* Header */
.header {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 3rem;
    font-size: 1.6rem;
}

.header button {
    text-decoration: none;

    border: none;
    padding-bottom: 3px;
    border-bottom: 2px solid rgb(129, 129, 129);
    background-color: white;
    cursor: pointer;
}

.logo {
    flex: 1;
    padding: 3rem 0 0 0;
    background: url(/TRUSTRANK.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.main {
    height: 100%;
    width: 100%;
}

/* Home */
.home {
    padding-top: 10rem;
    display: flex;
    height: 100%;
}

.right-home {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.img {
    height: 100%;
    width: 100%;
    background-image: url(/shipping.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.left-home {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}

.left-home h2{
    text-transform: uppercase;
    font-size: 3rem;
    font-family: "Roboto";
    font-weight: 700;
}

.left-home p {
    font-family: "Roboto";
    color: #504f4fdd;
    width: 40ch;
    line-height: 2rem;
    font-size: 1.3rem;
    
}



.nav-bar {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.nav-bar button {
    text-transform: uppercase;
    font-size: 1.2rem;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 3rem;
    border-top: 1px solid var();
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "Roboto";
  }
  
  .fa-github {
    font-size: 2rem;
  }
  
  .fa-github:hover {
    color: var(--font-color-dark);
  }
  